body {
  background-color: #000;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  display: inline;
}

a {
  cursor: pointer;
  color: #006600;
}

#notice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/************************************************************************ hud */

.hud {
  position: absolute;
  z-index: 100;
}

.hud-value {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.hud-unit {
  display: inline-block;
  width: 50px;
  text-align: left;
}

#hud1 {
  top: 0;
  left: 0;
}
#hud2 {
  top: 0;
  right: 0;
  text-align: right;
}
#hud3 {
  bottom: 0;
  left: 0;
}
#hud4 {
  bottom: 0;
  right: 0;
  text-align: right;
  font-family: "omnes-pro", sans-serif;
}

/******************************************************** overlay for loading */

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  z-index: 900;
}

/********************************************************* overlay for panels */

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  color: #000;
  z-index: 300;
}

#panel-menu {
  margin-bottom: 20px;
}

.config-row {
  clear: left;
  margin-top: 8px;
}
.config {
  float: left;
  width: 125px;
  margin-right: 16px;
}
.config-description {
  float: left;
  line-height: 30px;
}

/**************************************************************** body labels */

#labels {
  position: relative;
}

#labels div { /* left and top given in html */
  position: absolute;
  border: 2px solid #fff;
  padding: 2px 4px;
  -webkit-transform: translate(-50%, -50%); /* center over the left and top values */
  background-color: rgba(255, 255, 255, 0.95);
  color: #080;
  font-weight: bold;
}

/****************************************************************** Bootstrap */

.pull-left {
  float: none !important;
}