extends layout

block scripts
  script(src='/lib/jquery.js')
  script(src='/lib/lodash.min.js')
  script(src='/lib/bootstrap.js')
  script(src='/lib/three.r61.js')
  // script(src='/lib/blur.js')
  script(src='/lib/fonts/helvetiker_regular.typeface.js')
  script(src='/js/three.extensions.js')
  script(src='/js/three.controls.js')
  script(src='/js/three.stars.js')
  script(src='/js/kimchi.config.js')
  script(src='/js/kimchi.utils.js')
  script(src='/js/kimchi.space.js')
  script(src='/js/kimchi.flight.js')
  script(src='/js/kimchi.pointerlock.js')
  script(src='/js/kimchi.ui.js')
  script(src='/js/kimchi.js')

block content
  #notice
  #overlay
    .col-md-12.col-lg-12(style="padding: 15px;")
      .panel
        .panel-body
          ul.nav.nav-tabs
            li.active
              a(href="#about-pane", data-toggle="tab") About
            li
              a(href="#bodies-pane", data-toggle="tab") Astronomical bodies
            li
              a(href="#config-pane", data-toggle="tab") Options
          .tab-content
            #about-pane.tab-pane.active
              h1 Explore the Solar System
              p [TODO: Blurb.]
              p [TODO: If WebGL support check fails, write a message here.]
              .continue-flying.btn.btn-lg.btn-primary(data-loading-text="Loading...", data-continue-text="Continue Flying [Esc]") Start Flying [Esc]
            #bodies-pane.tab-pane
              h1 Astronomical bodies
              table#bodies.table.table-striped.table-hover.table-condensed.table-responsive
                tr
                  th Name
                  th
                  th Current distance
                  th Radius
                  th Distance from the Sun
            #config-pane.tab-pane
              h1 Options
              h3 Astronomical bodies
              +configRadioOnOffRow("rotate", "Rotation")
              +configRadioOnOffRow("enable-clock", "Revolution around the sun")
              .config-row.clearfix
                .config.btn-group(data-key="scales-size")
                  .btn.btn-primary.btn-sm.dropdown-toggle(data-toggle="dropdown")
                    span.selected-value
                    | &nbsp;&nbsp;
                    span.caret
                  ul.dropdown-menu
                    li
                      a(data-value="1") 1x
                    li
                      a(data-value="10") 10x (distances lose scale)
                    li
                      a(data-value="100") 100x (distances lose more scale)
                    li
                      a(data-value="1000") 1000x (distances lose even more scale)
                    li
                      a(data-value="large") Large (all bodies appear large without regard to scale)
                .config-description
                  | Scaled size
              h3 Visuals
              +configRadioOnOffRow("ambient-lighting", "Ambient lighting")
              +configRadioOnOffRow("show-labels", "Show text labels")
              +configRadioOnOffRow("show-orbits", "Show orbit curves")
              +configRadioOnOffRow("show-stars", "Show background stars")
              h3 Flight
              .config-row.clearfix
                .config.btn-group(data-toggle="buttons")
                  +configRadioLabel("controls-flying-speed-multiplier", "1", "Fast")
                  +configRadioLabel("controls-flying-speed-multiplier", "2", "Faster")
                .config-description
                  | Flying speed
              .config-row.clearfix
                .config.btn-group(data-toggle="buttons")
                  +configRadioLabel("controls-look-speed", "0.0002", "Low")
                  +configRadioLabel("controls-look-speed", "0.0006", "High")
                .config-description
                  | Mouse sensitivity
  #hud1.hud
    strong Controls
    ul
      li Esc: Menu
      li Mouse: Yaw/Pitch
      li W/S: Move Forward/Back
      li A/D: Strafe Left/Right
      li R/F: Strafe Up/Down
      li Q/E: Roll
  #hud2.hud
    ul
      li
        strong Time: 
        #hud-time.hud-value
        .hud-unit
      li
        strong Distance from the Sun: 
        #hud-distance-from-sun.hud-value
        .hud-unit &nbsp;AU
      li
        strong Speed: 
        #hud-speed.hud-value
        .hud-unit &nbsp;AU/s
  #hud3.hud
  #hud4.hud

mixin configRadioLabel(key, value, label)
  label.btn.btn-default.btn-sm
    input(type="radio", name=key, value=value)
    | #{label}

mixin configRadioOnOffRow(key, description)
  .config-row.clearfix
    .config.btn-group(data-toggle="buttons")
      +configRadioLabel(key, "true", "On")
      +configRadioLabel(key, "false", "Off")
    .config-description
      | #{description}