extends layout

block scripts
  script(src='/lib/jquery.js')
  script(src='/lib/lodash.min.js')
  script(src='/lib/bootstrap.js')
  script(src='/lib/three.js')
  script(src='/lib/ObjectLoader.js')
  script(src='/lib/JSONLoader.js')
  script(src='/lib/blur.js')
  script(src='/lib/fonts/helvetiker_regular.typeface.js')
  script(src='/js/three.extensions.js')
  script(src='/js/three.controls.js')
  script(src='/js/three.stars.js')
  script(src='/js/kimchi.config.js')
  script(src='/js/kimchi.space.js')
  script(src='/js/kimchi.flight.js')
  script(src='/js/kimchi.pointerlock.js')
  script(src='/js/kimchi.ui.js')
  script(src='/js/kimchi.utils.js')
  script(src='/js/kimchi.js')

block content
  #notice
  #overlay
    .col-md-12.col-lg-12(style="padding: 15px;")
      .panel
        .panel-body
          ul.nav.nav-tabs
            li.active
              a(href="#about-pane", data-toggle="tab") About
            li
              a(href="#bodies-pane", data-toggle="tab") Astronomical Bodies
            li
              a(href="#settings-pane", data-toggle="tab") Options
          .tab-content
            #about-pane.tab-pane.active
              h1 Explore the Solar System
              p [TODO: Blurb.]
              p [TODO: If WebGL support check fails, write a message here.]
              .continue-flying.btn.btn-lg.btn-primary(data-loading-text="Loading...", data-continue-text="Continue Flying [Esc]") Start Flying [Esc]
            #bodies-pane.tab-pane
              h1 Astronomical bodies
              table#bodies.table
                tr
                  th Name
                  th
                  th Current Distance
                  th Radius
                  th Distance from the Sun
            #settings-pane.tab-pane
              h1 Options
              h3 Astronomical bodies
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="rotate", value="true")
                    | On
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="rotate", value="false")
                    | Off
                .setting-description
                  | Rotation
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="revolve", value="true")
                    | On
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="revolve", value="false")
                    | Off
                .setting-description
                  | Revolution around the sun
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="scale", value="1")
                    | 1x
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="scale", value="10")
                    | 10x
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="scale", value="100")
                    | 100x
                .setting-description
                  | Scaled size
              h3 Visuals
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="ambient-lighting", value="true")
                    | On
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="ambient-lighting", value="false")
                    | Off
                .setting-description
                  | Ambient lighting
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="show-labels", value="true")
                    | On
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="show-labels", value="false")
                    | Off
                .setting-description
                  | Show text labels and orbits
              h3 Flight
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="flying-speed", value="1")
                    | Slow
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="flying-speed", value="2")
                    | Fast
                .setting-description
                  | Flying speed
              .setting-row.clearfix
                .setting.btn-group(data-toggle="buttons")
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="mouse-sensitivity", value="1")
                    | Low
                  label.btn.btn-default.btn-sm
                    input(type="radio", name="mouse-sensitivity", value="2")
                    | High
                .setting-description
                  | Mouse sensitivity
  #hud1.hud
    strong Controls
    ul
      li Esc: Menu
      li Mouse: Yaw/Pitch
      li W/S: Move Forward/Back
      li A/D: Strafe Left/Right
      li R/F: Strafe Up/Down
      li Q/E: Roll
  #hud2.hud
    ul
      li
        strong Time: 
        #hud-time.hud-value
        .hud-unit
      li
        strong Distance from the Sun: 
        #hud-distance-from-sun.hud-value
        .hud-unit &nbsp;AU
      li
        strong Speed: 
        #hud-speed.hud-value
        .hud-unit &nbsp;AU/s
  #hud3.hud
  #hud4.hud