extends layout

block scripts
  script(src='/lib/jquery.js')
  script(src='/lib/three.js')
  script(src='/lib/fonts/helvetiker_regular.typeface.js')
  script(src='/js/three.extensions.js')
  script(src='/js/three.controls.js')
  script(src='/js/three.stars.js')
  script(src='/js/kimchi.utils.js')
  script(src='/js/kimchi.config.js')
  script(src='/js/kimchi.pointerlock.js')
  script(src='/js/kimchi.space.js')
  script(src='/js/kimchi.flight.js')
  script(src='/js/kimchi.js')

block content
  #notice
  #overlay
    div(style="text-align: center;")
      a Fly freely (Esc)
    .nav
      strong Fly to:
      ul#nav-fly-to
  #hud1.hud
    strong Controls
    ul
      li Esc: Menu
      li Mouse: Yaw/Pitch
      li W/S: Move Forward/Back
      li A/D: Strafe Left/Right
      li R/F: Strafe Up/Down
      li Q/E: Roll
  #hud2.hud
    ul
      li
        strong Time: 
        #hud-time.hud-value
        .hud-unit
      li
        strong Distance from the Sun: 
        #hud-distance-from-sun.hud-value
        .hud-unit &nbsp;AU
      li
        strong Speed: 
        #hud-speed.hud-value
        .hud-unit &nbsp;AU/s
  #hud3.hud
  #hud4.hud