body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00b7ff;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: .75;
	filter: alpha(opacity=25);
	text-align: center;
	font-size: 48px;
	color: #000;
	z-index: 999;
}

.hud {
	position: absolute;
	z-index: 333;
}
#hud1 {
	top: 0;
	left: 0;
}
#hud2 {
	top: 0;
	right: 0;
	text-align: right;
}