body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
  color: #00b7ff;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: .75;
	filter: alpha(opacity=25);
	text-align: center;
	font-size: 48px;
	color: #000;
	z-index: 999;
}

.hud {
	position: absolute;
	z-index: 333;
}
.hud-value {
	display: inline-block;
	width: 100px;
	text-align: right;
}
.hud-unit {
	display: inline-block;
	width: 50px;
	text-align: left;
}
#hud1 {
	top: 0;
	left: 0;
}
#hud2 {
	top: 0;
	right: 0;
	text-align: right;
}
#hud3 {
	bottom: 0;
	left: 0;
}
#hud4 {
	bottom: 0;
	right: 0;
	text-align: right;
}

.label {
	position: absolute;
	padding: 2px 4px;
	border: 1px solid #000;
	background-color: rgba(255, 255, 255, 0.75);
	color: #000;
	font-size: 16px;
	font-weight: bold;
}