<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="bower_components/bootstrap3/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!--TODO
  <script type="text/javascript" src="//use.typekit.net/dnq0kor.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  -->
</head>
<body ng-app="kimchi" ng-controller="BodyCtrl">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!-- <div class="container" ng-view="">
  </div> -->

  <div id="loading" ng-hide="loaded">
    Loading…
  </div>

  <div id="notice" ng-controller="NoticesCtrl">
    <div ng-repeat="notice in notices">{{notice}}</div>
  </div>

  <div id="overlay" ng-controller="PanelsCtrl">
    <ul id="panel-menu" class="horizontal clearfix">
      <li>
        <a ng-click="showPanel('about')" ng-class="{'active': panels.about}" class="btn btn-xs btn-success">About</a>
      </li>
      <li>
        <a ng-click="showPanel('bodies')" ng-class="{'active': panels.bodies}" class="btn btn-xs btn-success">Astronomical bodies</a>
      </li>
      <li>
        <a ng-click="showPanel('options')" ng-class="{'active': panels.options}" class="btn btn-xs btn-success">Options</a>
      </li>
    </ul>

    <panel key="about" title="Explore the Solar System">
      <p>
        [TODO: Blurb.]
      </p>
      <div ng-click="setMode('pointerLock')" class="btn btn-lg btn-primary">
        Fly
      </div>
      <div ng-click="setMode('orbit')" class="btn btn-lg btn-primary">
        Orbit
      </div>
    </panel>

    <panel key="bodies" title="Astronomical bodies">
      <table ng-controller="BodiesCtrl" class="table table-striped table-hover table-condensed table-responsive">
        <tr>
          <th>Name</th>
          <th>Look</th>
          <th>Fly</th>
          <th>Orbit</th>
          <th>Current distance</th>
          <th>Radius</th>
          <th>Distance from the Sun</th>
        </tr>
        <tr ng-repeat="body in KIMCHI.space.bodies">
          <td>{{body.name}}</td>
          <td><a ng-click="panTo(body)">Look</a></td>
          <td><a ng-click="flyTo(body)">Fly</a></td>
          <td><a ng-click="orbit(body)">Orbit</a></td>
          <td>{{KIMCHI.format.au(body.getDistance(KIMCHI.camera))}}</td>
          <td>{{KIMCHI.format.km(body.radiusInKm)}}</td>
          <td>{{KIMCHI.format.au(body.distanceFromSun)}}</td>
        </tr>
      </table>
    </panel>

    <panel key="options" title="Options">
      <div ng-controller="OptionsCtrl">
        <h3>Astronomical bodies</h3>
        <div class="config-row clearfix">
          <div class="config btn-group">
            <select ng-model="bodiesSpeed" ng-options="option.label for option in options.bodiesSpeed" data-style="btn-primary btn-sm" bs-select></select>
          </div>
          <div class="config-description">
            Revolution speed
          </div>
        </div>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="rotateBodies" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="true">On</button>
              <button type="button" class="btn btn-default btn-sm" value="false" ng-click="l()">Off</button>
            </div>
          </div>
          <div class="config-description">
            Rotation
          </div>
        </div>
        <div class="config-row clearfix">
          <div class="config btn-group">
            <select ng-model="bodiesSizeScale" ng-options="option.label for option in options.bodiesSizeScale" data-style="btn-primary btn-sm" bs-select></select>
            </div>
          <div class="config-description">
            Scaled size
          </div>
        </div>
        <h3>Visuals</h3>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="ambientLight" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="true">On</button>
              <button type="button" class="btn btn-default btn-sm" value="false">Off</button>
            </div>
          </div>
          <div class="config-description">
            Ambient lighting
          </div>
        </div> 
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="showLabels" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="true">On</button>
              <button type="button" class="btn btn-default btn-sm" value="false">Off</button>
            </div>
          </div>
          <div class="config-description">
            Show text labels
          </div>
        </div>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="showOrbits" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="true">On</button>
              <button type="button" class="btn btn-default btn-sm" value="false">Off</button>
            </div>
          </div>
          <div class="config-description">
            Show orbit curves
          </div>
        </div>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="showStars" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="true">On</button>
              <button type="button" class="btn btn-default btn-sm" value="false">Off</button>
            </div>
          </div>
          <div class="config-description">
            Show stars in the background
          </div>
        </div>
        <h3>Flight</h3>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="controlsKeyboardSpeedMultiplier" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="1">Fast</button>
              <button type="button" class="btn btn-default btn-sm" value="2">Faster</button>
            </div>
          </div>
          <div class="config-description">
            Flight speed
          </div>
        </div>
        <div class="config-row clearfix">
          <div data-toggle="buttons" class="config btn-group">
            <div class="btn-group" ng-model="controlsLookSpeed" bs-buttons-radio>
              <button type="button" class="btn btn-default btn-sm" value="0.001">Low</button>
              <button type="button" class="btn btn-default btn-sm" value="0.002">High</button>
            </div>
          </div>
          <div class="config-description">
            Mouse sensitivity
          </div>
        </div>
      </div>
    </div>
  </panel>

  <div id="hud1" class="hud"></div>

  <div id="hud2" class="hud" ng-controller="StatsCtrl">
    <ul>
      <li>
        <strong>Time: </strong>
        <div class="hud-value">{{data.time}}</div>
        <div class="hud-unit"></div>
      </li>
      <li>
        <strong>Distance from the Sun: </strong>
        <div class="hud-value">{{data.distanceFromSun}}</div>
        <div class="hud-unit">&nbsp;AU</div>
      </li>
      <li>
        <strong>Speed: </strong>
        <div class="hud-value">{{data.speed}}</div>
        <div class="hud-unit">&nbsp;AU/s</div>
      </li>
    </ul> 
  </div>

  <div id="hud3" class="hud">
    <div ng-show="KIMCHI.flight.getModeName() === 'pointerLock'">
      <strong>Mouse look controls</strong>
      <ul>
        <li>1: Menu</li>
        <li>2: Fly</li>
        <li>3: Orbit</li>
        <li>Mouse: Look</li>
        <li>WASD: Move</li>
        <li>RF: Move Up/Down</li>
        <li>QE: Rotate</li>
      </ul>
    </div>
    <div ng-show="KIMCHI.flight.getModeName() === 'orbit'">
      <strong>Orbit controls</strong>
      <ul>
        <li>1: Menu</li>
        <li>2: Fly</li>
        <li>3: Orbit</li>
        <li>Left click and drag: Rotate</li>
        <li>Mousewheel: Zoom</li>
      </ul>
    </div>
  </div>

  <div id="hud4" class="hud" ng-controller="DebugCtrl" ng-show="settings.visible">
    <ul>
      <li>Delta: {{data.delta}}</li>
      <li>Position (au): {{data.position}}</li>
      <li>Rotation (deg): {{data.rotation}}</li>
    </ul>
  </div>

  <div id="labels" ng-controller="LabelsCtrl">
    <div ng-repeat="label in labels"
        style="left: {{label.left}}; top: {{label.top}};">
      {{label.name}}
    </div>
  </div>

  <canvas id="kimchi"></canvas>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>

  <!-- build:js scripts/lib.js -->
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/q/q.js"></script>
  <script src="bower_components/threejs/build/three.js"></script>
  <script src="bower_components/bootstrap/docs/assets/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
  <script src="bower_components/angular-strap/vendor/bootstrap-select.js"></script>
  <script src="lib/fonts/helvetiker_regular.typeface.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/kimchi.js -->
  <script src="scripts/three.extensions.js"></script>
  <script src="scripts/three.OrbitControls.js"></script>
  <script src="scripts/three.PointerLockControls.js"></script>
  <script src="scripts/three.Stars.js"></script>
  <script src="data/kimchi.space.bodies.js"></script>
  <script src="scripts/kimchi.config.js"></script>
  <script src="scripts/kimchi.ephemeris.js"></script>
  <script src="scripts/kimchi.events.js"></script>
  <script src="scripts/kimchi.flight.js"></script>
  <script src="scripts/kimchi.flight.Mode.js"></script>
  <script src="scripts/kimchi.flight.modes.auto.js"></script>
  <script src="scripts/kimchi.flight.modes.orbit.js"></script>
  <script src="scripts/kimchi.flight.modes.pointerlock.js"></script>
  <script src="scripts/kimchi.format.js"></script>
  <script src="scripts/kimchi.notices.js"></script>
  <script src="scripts/kimchi.pointerlock.js"></script>
  <script src="scripts/kimchi.renderer.js"></script>
  <script src="scripts/kimchi.size.js"></script>
  <script src="scripts/kimchi.space.js"></script>
  <script src="scripts/kimchi.space.Body.js"></script>
  <script src="scripts/kimchi.time.js"></script>
  <script src="scripts/kimchi.init.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/ng/kimchi.js"></script>
  <script src="scripts/ng/BodiesCtrl.js"></script>
  <script src="scripts/ng/BodyCtrl.js"></script>
  <script src="scripts/ng/DebugCtrl.js"></script>
  <script src="scripts/ng/LabelsCtrl.js"></script>
  <script src="scripts/ng/NoticesCtrl.js"></script>
  <script src="scripts/ng/OptionsCtrl.js"></script>
  <script src="scripts/ng/PanelsCtrl.js"></script>
  <script src="scripts/ng/panelDirective.js"></script>
  <script src="scripts/ng/StatsCtrl.js"></script>
  <script src="scripts/ng/stopPropagationDirective.js"></script>
  <!-- endbuild -->
</body>
</html>
